Repository moranje/todoist-rest-api: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{ts,js,json,md,yml}": [
    "prettier --write",
    "git add"
  ],
  "src/**/*.ts": [
    "eslint --fix",
    "git add"
  ]
}

chore(global): improve pre-commit linting
  .huskyrc
  .lintstagedrc
  package.json
Due: prettier --write

fix(global): prevent dist from showing up in import suggestions
  package.json
  rollup.config.ts
  tools/build.sh
Due: prettier --write

chore(global): fix missing default type on CommentAdapter
  src/comment-adapter.ts
Due: prettier --write, eslint --fix

chore(global): ignore coverage report on Todoist api errors
  src/rest-adapter.ts
Due: prettier --write, eslint --fix

chore: remove redundent type test
  package.json
Due: prettier --write

chore: match typescript compile target to minimum node.js requirement
  tsconfig.json
Due: prettier --write

test(api): fix failing tests
  test/v1/comment.ts
  test/v1/tasks.ts
Due: prettier --write

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

chore(global): add linting for documentation, security and import sorting
  .eslintrc
  package.json
Due: prettier --write

docs: improve documentation
  src/index.ts
  src/rest-adapter.ts
  src/task-adapter.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore(dependencies): update dependencies
  package.json
Due: prettier --write

fix(api): remove unnecessary error information
  package.json
  src/rest-adapter.ts
Due: prettier --write, eslint --fix

chore(release): 1.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  338b8a8091a401ecf1e263d23811e9d78566f528
Due: none

docs(api): correct documentation expamples
  readme.md
Due: prettier --write

docs: add depencies and release date badges
  readme.md
Due: prettier --write

chore: update AVA to v3
  package.json
  test/v1/index.ts
  test/v1/rest-adapter.ts
Due: prettier --write

ci: add linting github action
  .github/workflows/lint.yml
Due: prettier --write

chore: fix github linting action
  .github/workflows/lint.yml
Due: prettier --write

chore: replace elsint action with setup-node action
  .github/workflows/lint.yml
Due: prettier --write

chrore: fix setup-node action
  .github/workflows/lint.yml
Due: prettier --write

chore: run action in production mode
  .github/workflows/lint.yml
Due: prettier --write

ci: replace travis with github action
  .github/workflows/lint.yml
Due: prettier --write

ci: fix github action
  .github/workflows/lint.yml
Due: prettier --write

ci: run release after succesful build step
  .github/workflows/lint.yml
Due: prettier --write

ci: fix coverage error
  .github/workflows/lint.yml
Due: prettier --write

ci: fix code coverage
  .github/workflows/lint.yml
  package.json
Due: prettier --write

ci: fix coverage
  .github/workflows/lint.yml
Due: prettier --write

ci: fix release logic in action
  .github/workflows/lint.yml
Due: prettier --write

ci: fix missing dependencies
  .github/workflows/lint.yml
Due: prettier --write

ci: add caching
  .github/workflows/lint.yml
Due: prettier --write

ci: remove travis
  .travis.yml
  package.json
  readme.md
Due: prettier --write

ci: fix indentation problem in config
  .github/workflows/lint.yml
Due: prettier --write

ci: fix caching
  .github/workflows/lint.yml
Due: prettier --write

ci: revert to single instance
  .github/workflows/lint.yml
Due: prettier --write

build: add different build oses
  .github/workflows/lint.yml
Due: prettier --write

fix(api): add url property to the todoist api error
  src/rest-adapter.ts
Due: prettier --write, eslint --fix

chore: fix typo in build config
  .github/workflows/lint.yml
Due: prettier --write

ci: remove commit hook failing on other platforms
  .huskyrc
Due: none

chore: remove redundent git add commands from lintstaged config
  .lintstagedrc
Due: none
