Repository moranje/todoist-rest-api: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier "**/*.{ts.js}" --loglevel silent --write, npx eslint src/**.ts --fix, npx prettier "**/*.md" --loglevel silent --write

fix(dependencies): update minimum node.js version to 10
  .travis.yml
  package.json
Due: none

ci: fix semantic release configuration error
  .releaserc
Due: none

ci: alternative semantic release configuration
  .releaserc
Due: none

ci: npm release requires a package.json in /dist
  package.json
Due: none

chore(global): remove user scope from package
  package.json
  readme.md
Due: npx prettier "**/*.md" --loglevel silent --write

ci: add missing semantic release plugin
  .releaserc
Due: none

feat: artificial version bump
  .releaserc
  package-lock.json
  package.json
Due: none

feat: add readme to package
  package.json
Due: none

fix: update docs
  readme.md
Due: npx prettier "**/*.md" --loglevel silent --write

ci: add missing pluging for changelog creation
  .releaserc
Due: none

ci: remove github actions
  .github/workflows/npmpublish.yml
Due: none

chore(global): setup a beta branch
  .releaserc
Due: none

chore: change max line length to 80
  .prettierrc
Due: none

fix(global): package not including any files
  package.json
Due: none

ci: semantic release config pranches not set correctly
  .releaserc
Due: none

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
Due: npx prettier "**/*.md" --loglevel silent --write

fix(global): fix silly package distribution on npm
  .releaserc
  package.json
Due: none

chore(release): 1.2.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier "**/*.md" --loglevel silent --write

fix: include .npmignore for node_modules and CHANGELOG.md in npm package
  .npmignore
  package.json
Due: none

chore(release): 1.2.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier "**/*.md" --loglevel silent --write

fix: remove package-lock.json from npm package
  .npmrc
  .releaserc
  package-lock.json
  package.json
Due: none

chore(release): 1.2.5 [skip ci]
  CHANGELOG.md
  package.json
Due: npx prettier "**/*.md" --loglevel silent --write

ci: remove unnecessary build step
  .releaserc
Due: none

chore: add additional badges to readme
  readme.md
Due: npx prettier "**/*.md" --loglevel silent --write

ci: add semantic ui github plugin
  .releaserc
Due: none

chore(global): better adherence to conventional commit guideline
  cz-config.js
Due: npx prettier "**/*.{ts.js}" --loglevel silent --write, npx eslint src/**.ts --fix

fix(global): removes lingering `dist` imports
  package.json
Due: none

chore(global): prettier formatting
  src/comment-adapter.ts
  src/rest-adapter.ts
  src/task-adapter.ts
Due: npx prettier "**/*.{ts.js}" --loglevel silent --write, npx eslint src/**.ts --fix

chore(api): improve generic type names
  src/rest-adapter.ts
Due: npx prettier "**/*.{ts.js}" --loglevel silent --write, npx eslint src/**.ts --fix

chore(api): move validation to start of constructor
  src/rest-adapter.ts
Due: npx prettier "**/*.{ts.js}" --loglevel silent --write, npx eslint src/**.ts --fix

chore(global): add index signatures to type definitions
  src/types.ts
Due: npx prettier "**/*.{ts.js}" --loglevel silent --write, npx eslint src/**.ts --fix

chore(global): improve type difinitions
  src/types.ts
Due: npx prettier "**/*.{ts.js}" --loglevel silent --write, npx eslint src/**.ts --fix

chore(api): rename adapter to restadapter
  src/index.ts
Due: npx prettier "**/*.{ts.js}" --loglevel silent --write, npx eslint src/**.ts --fix

feat(api): add token validation
  src/index.ts
Due: npx prettier "**/*.{ts.js}" --loglevel silent --write, npx eslint src/**.ts --fix

test(api): fix failing tests
  src/index.ts
  test/v1/comment.ts
  test/v1/index.ts
  test/v1/rest-adapter.ts
  test/v1/tasks.ts
Due: npx prettier "**/*.{ts.js}" --loglevel silent --write, npx eslint src/**.ts --fix

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npx prettier "**/*.md" --loglevel silent --write

chore(global): run a sort on package.json
  package.json
Due: none

chore(global): allow @ts-ignore as warnings
  .eslintrc
Due: none

fix(global): fixes broken types for task and comment adapters
  src/comment-adapter.ts
  src/index.ts
  src/rest-adapter.ts
  src/task-adapter.ts
  src/types.ts
Due: npx prettier "**/*.{ts.js}" --loglevel silent --write, npx eslint src/**.ts --fix

fix(global): provide errors with info on failing api calls
  src/rest-adapter.ts
Due: npx prettier "**/*.{ts.js}" --loglevel silent --write, npx eslint src/**.ts --fix

Path conditions:
  npx prettier "**/*.{ts.js}" --loglevel silent --write: any of: *.{ts,js}
  npx eslint src/**.ts --fix: any of: *.{ts,js}
  npx prettier "**/*.md" --loglevel silent --write: any of: *.md
